* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

*::selection {
    color: black;
    background-color: white;
}

body {
    color: white;
    background: linear-gradient(to right, #313131, #6e6e6e, #a1a09f, #616160, #313131);
}


#link,
#link_botao {
    text-decoration: none;
    font-style: none;
    color: rgb(231, 231, 231);
}

#link_botao {
    color: black;
}

#img {
    display: flex;
    max-width: 1920px;
    width: 100px;


}

.menu {
    justify-content: center;
    display: flex;
    align-items: center;


}

.menu_nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    padding: 0;
    /* border: solid 1px blue; */
    padding: 0 2%;


}

.itemMenu,
.botao,
.botao_perfil {
    font-size: 16px;
    border-radius: 25px;
    position: relative;
    display: flex;
    /* border: solid 1px red; */
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-left: 20px;
}

/* MENU MOBILE */

.btn_abrir i{
    margin: 20px;
    font-size:35px;
    background: linear-gradient(to top, orange, rgb(255, 187, 0), yellow, orange);
    -webkit-background-clip: text;
    color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    display: none;
}

.overlay-menu{
    background-color: rgba(0, 0, 0, 0.767);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}


.menu_mobile {
    background: linear-gradient(to top, #222221, #4d4a47e8, #5f5f5fd5, #3d3c39, #1d1c1c);
    height: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    border-radius: 3%;
    overflow: hidden;
    transition: .3s;
}

.menu_mobile.abrir-menu{
    width: 65%;
}

.menu_mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.itemMenu-mobile, .btn-mobile{
    text-align: right;
    color: white;
    font-size: 20px;
    font-weight: 300;
    list-style: none;
    border-radius: 5%;
}

.itemMenu-mobile:hover {
    background: linear-gradient(to right, #313131, #6e6e6e, #a1a09f, #616160, #313131);
    box-shadow: rgb(0, 0, 0) 2px 2px 9px 1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#link-mobile{
    display: block;
    padding: 20px 4%;
}

#link-mobile, #link_botao-mobile{
    text-decoration: none;
}

.btn_Menu-mobile{
    margin: 20px;
    font-size: 20px;
    background: linear-gradient(to top, #e08402, #e7a241, #f5d056, #e6a54b, #dd8203);
    box-shadow: rgb(0, 0, 0) 2px 2px 9px 1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.btn_Menu-mobile:hover{
    transform: scale(1.1);
}

#link_botao-mobile{

}

.btn_fechar i{
    font-size: 20px;
    background: linear-gradient(to top, orange, rgb(255, 187, 0), yellow, orange);
    -webkit-background-clip: text;
    color: transparent;
    padding: 5px;
}


/* ------- fim menu mobile ------- */

#link:hover {
    background: linear-gradient(to top, orange, rgb(255, 187, 0), yellow, orange);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

.botao,
.botao_perfil {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
    display: flex;
    background-color: hwb(46 40% 0% / 0.863);
    font-size: 18px;
    transition: transform 0.3s ease;
    color: black;
    background: linear-gradient(to right, #dab94c, #df880f, #d6b549);
    /* border: solid 1px red; */



}

.botao:hover,
.botao_perfil:hover,
.botao_social:hover,
.btn-enviar input:hover,
.botao_social_footer:hover {
    color: black;
    background-color: hsl(0, 0%, 71%);
    transform: scale(1.07);
}

/* ---------- SOBRE ------------ */

.container {
    padding: 150px 8%;
    padding-bottom: 70px;
    max-width: 1920px;
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    flex-wrap: wrap;
}

.container_perfil {
    font-size: 20px;
    display: flex;
    max-width: 1920px;
    width: 1000px;
    height: 400px;
    /* border: 1px solid blue; */
    padding: 20px;
    flex-direction: column;
}


.titulo {
    /* border: 1px solid green; */
    background: linear-gradient(to top, #df880f, #e29933, #f7cf4f, #ad7322, #df880f);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;

}

.descricao {
    display: flex;
    width: 950px;
    /* border: 1px solid pink; */
    margin-top: 30px;
    flex-direction: column;
}

.btn_sociais {
    /* border: 1px solid blue; */
    gap: 20px;
    display: flex;
    margin-top: 50px;


}

.botao_social {
    font-weight: bold;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
    transition: transform 0.3s ease;
    color: black;
    background: linear-gradient(to right, #dab94c, #df880f, #d6b549);
    padding: 5px;
    border-radius: 50%;
    display: flex;
    /* border: 1px solid red; */

}

#github,
#linkedin,
#instagram {
    max-width: 1920px;
    width: 43px;
    /* border: 1px solid green; */

}


#img_perfil {
    display: flex;
    max-width: 1920px;
    width: 400px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 0px 20px 25px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    animation: float 3s ease-in-out infinite;
    /* border: 1px solid blue; */

}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-08px);
    }

    100% {
        transform: translateY(0);
    }

}

/* ------------ TECNOLOGIAS --------- */

.tech {
    padding: 80px 3.5%;
}

.container_tech {
    /* border: 1px solid blue; */
    padding-bottom: 50px;
}

.container_titulo {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    padding: 80px 4%;

}

.titulo_card {
    /* border: 1px solid white; */
    display: flex;
    font-size: 40px;
    text-shadow: rgba(0, 0, 0, 0.1) 20px 20px 32px 27px, rgba(0, 0, 0, 0.06) 0px 2px 5px -1px;
}

#h1_stack {
    background: linear-gradient(to top, #131312, #5a5958, #f0e7e7, #696865, #0e0d0d);
    -webkit-background-clip: text;
    color: transparent;
}


#h1_des {
    background: linear-gradient(to top, #df880f, #cf8b2b, #f7cf4f, #ad7322, #df880f);
    -webkit-background-clip: text;
    color: transparent;
    margin-left: 10px;
    /* border: 1px solid red; */


}

.container_card {
    /* border: 1px solid green; */
    margin: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;

}

.card {
    background: linear-gradient(to top, #2c2c2b, #4d4a47, #858484, #3d3c39, #2c2b2b);
    box-shadow: rgba(0, 0, 0, 0.1) 5px 10px 11px 7px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: transform 0.3s ease;
    text-align: center;
    max-width: 400px;
    /* width: 400px; */
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-basis: 200;
    /* border: 1px solid red; */
    /* align-items: center; */

}

.card:hover {
    background: linear-gradient(to top, #df880f, #cf8b2b, #f7cf4f, #dd932c, #df880f);
    transform: scale(1.1);
}

.conteudo_card {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    padding: 0px 0 20px 0;


}

.logo_card {
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
    /* border: 1px solid pink */
}

#python,
#sql,
#html,
#css,
#git {
    display: flex;
    max-width: 1920px;
    width: 100px;
    /* border: 1px solid yellow; */
    margin: 20px;

}

#p_titulo {
    max-width: 300px;
    flex-direction: column;
    /* border: 1px solid blue; */
}

#python {
    width: 150px;
}

#sql {
    width: 157px;
}

#html {
    width: 138.5px;
}

#css {
    width: 137px;
}

#git {
    width: 150px;
}

/* --------- FORMULARIO --------- */
.formulario {
    padding: 80px 3%;
    padding-top: 0;
    /* border: 1px solid red; */
}

.container_formulario {
    /* border: 1px solid blue; */
    padding-bottom: 50px;

}

form {
    max-width: 500px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 10px 11px 7px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background: linear-gradient(to right, #222221, #363533, #3b3939, #302f2e, #242323);
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px 20px 20px;
    gap: 10px;

}

input,
textarea {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

textarea {
    resize: none;
    max-height: 200px;

}

.btn-enviar {
    margin-top: 20px;
}

.btn-enviar input {
    width: 120px;
    background: linear-gradient(to right, #dab94c, #df880f, #d6b549);
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ------- rodapé --------- */

footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 50px #ffffff1d;
    background: linear-gradient(to right, #222221, #363533, #3b3939, #302f2e, #242323);
    /* border: 1px solid blue; */
}


.container_footer {
    /* border: 1px solid red; */

}

.conteudo_footer {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;

}

#img_footer {
    max-width: 1920px;
    width: 80px;
    /* border: solid 1px green; */



}

.sociais_footer {
    gap: 20px;
    display: flex;
    margin: 0;
    /* border: 1px solid blue; */

}

.line_footer {
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
}

.line_footer3 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}


.linha {
    background: linear-gradient(to right, #382e0c, #df880f, #dab94c, #df880f, #382e0c);
    padding: 2px;
    border-radius: 20%;
    margin: 10px 0 0 0;


}

.line_footer2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    text-align: center;


}

.line_nomes {}



.botao_social_footer {
    list-style-type: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    background: linear-gradient(to right, #dab94c, #df880f, #d6b549);
    padding: 5px;
    border-radius: 50%;
    top: 30px;
    /* border: 1px solid red; */
}

#github_footer,
#linkedin_footer,
#instagram_footer {
    max-width: 1920px;
    width: 40px;
    /* border: 1px solid green; */

}

#caioh {
    color: white;
    font-weight: bold;
    text-decoration-color: orange;
    letter-spacing: 0.1mm;
    text-underline-position: under;
}

#pCaio {
    /* border: 1px solid blue; */
    font-weight: normal;
    display: flex;
    color: rgba(255, 255, 255, 0.5);
    margin: 20px 0 20px 180px;
    gap: 5px;

}

#caioh:hover,
.meuPerfil::selection {
    background: linear-gradient(to top, #f09b25, #dd9c41, #f7cf4f, #c99751, #f7a028);
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;

}


.email {
    /* margin-top: 30px; */
}


/* --------- RESPONSIVO --------- */

/* PRA CELULARES: */
@media screen and (min-width: 360px) and (max-width: 430px) {

    /* CLASSES GERAIS */
    .container_sobre {
        flex-direction: column;
    }

    /* ---- Menu --- */
    .menu_nav,
    .botao {
        display: none;

    }

    .btn_abrir i{
        display: block;
    }

    /* --- PERFIL ---  */
    .container {
        flex-direction: column-reverse;
        padding: 75px 0;

        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #img_perfil {
        width: 300px;

    }

    .container_perfil {
        margin-top: 10px;
        font-size: 15px;
        display: flex;
        padding: 0;
        width: 350px;

    }

    .titulo {
        margin-top: 30px;
        background: linear-gradient(to right, #df880f, #cf8b2b, #f7cf4f, #ad7322, #df880f);
        -webkit-background-clip: text;
        color: transparent;
    }

    .descricao {
        display: flex;
        width: 350px;
        /* border: 1px solid pink; */
        margin: 30px 0 0 0;
        flex-direction: column;
    }

    .btn_sociais {
        justify-content: center;
    }


    /* --- tech --  */
    .container_tech {
        padding: 0 0;
    }

    /* ---- CARD --  */
    #p_titulo {
        padding: 0 20px 20px 20px;

    }

    /* --- formulario --  */
    .container_formulario {}


    /* --- footer ---  */
    #img_footer {
        width: 70px;
        margin: 0;

    }

    #pCaio {
        margin: 15px 0 15px 0px;
    }

    .line_footer2 {
        /* border: 1px solid blue; */
        align-items: center;
        font-size: 13px;
        justify-content: center;
        flex-direction: column;

    }

}

/* PRA IPAD'S: */
@media screen and (min-width: 750px) and (max-width: 1279px) {


    .itemMenu,
    .botao,
    .conteudo_card,
    .line_footer3 {
        font-size: 23px;
    }

    .titulo_card {
        font-size: 50px;

    }


    .container {
        flex-direction: column-reverse;
        padding: 75px 0;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    #img_perfil {
        width: 480px;
    }

    .container_perfil {
        margin-top: 10px;
        display: flex;
        padding: 0;

    }

    .titulo {
        justify-content: center;
        font-size: 50px;
    }

    .descricao {
        display: flex;
        margin: 30px 0 0 0;
        flex-direction: column;
    }

    .btn_sociais {
        justify-content: center;
    }

    #github,
    #linkedin,
    #instagram {
        width: 60px;


    }


}

/* PRA NOT BOOK */
@media screen and (min-width: 1280px) and (max-width: 1684px) {

    .container {
        padding: 100px 6%;
        padding-bottom: 70px;
        justify-content: flex-start;

    }

    #img_perfil {
        width: 350px;
    }

    .container_perfil {
        margin-top: 10px;
        display: flex;
        padding: 0;
        width: 770px;

    }

    .descricao {
        width: 700px;
    }


}